#cloud-config
hostname: ${hostname}
fqdn: ${hostname}

users:
  - default
  - name: tonynv
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false

package_update: true

packages:
  - git
  - curl
  - zsh

runcmd:
  - systemctl enable serial-getty@ttyS0.service
  - systemctl start serial-getty@ttyS0.service || true
  - |
    # Clone dotfiles and run setup for tonynv
    su - tonynv -c '
      cd ~
      git clone https://github.com/tonynv/dotfiles.git
      cd dotfiles
      bash ./tonynv_setup.sh
    '
